<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <title>NMP - Non-blocking Message Passing</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
      });
    </script>
    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h3>Non-blocking Message Passing</h3>
        <ul>
          <li><a href="{{ site.baseurl }}/">about</a></li>
          <li><a href="{{ site.baseurl }}/documentation.html">documentation</a></li>
          <li><a href="https://github.com/gnzlbg/nmp">version control</a></li>
          <li><a href="https://github.com/gnzlbg/nmp/issues">issue tracking</a></li>
          <li><a href="https://travis-ci.org/gnzlbg/nmp/">unit tests</a></li>
          <li><a href="">test coverage</a></li>
          <li><a href="{{ site.baseurl }}/license.html">license</a></li>
        </ul>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
        <p><small>Gonzalo Brito Gadeschi, 2014</small></p>
      </footer>
    </div>
    <script src="{{site.baseurl}}/javascript/scale.fix.js"></script>
  </body>
</html>
